*{
  padding:0px;
  margin:0px;
}
.no-padding{
  padding:0;
}
.no-margin{
  margin:0;
}
.padding-row{
  padding:2em 0;
}
.margin{
  margin: 0 1.5em;
}
.paddingvignettes{
  width: 30%;
  padding:2% 0.5%;
}
.orange {
  color:orange;
}
.padding-mid{
  margin:0 5%;
}
.padding h2, .padding p{
  margin:0;
}

#titre{
  color:white;
  padding-bottom: 25px;
}
#img2{
  margin: 1em 0;
  width: 100%;
}
.bgBlue{
  background: url("../images/header.png");
}
.bggrey{
  background: url("../images/fond.png");
}
.grey{
  color:#C6C1C1;
}
nav a{
  color:white;
  box-shadow: #4A91D2;
}
nav div{
  text-align: center;
  background-color: #76CBFA;
  line-height: 4em;
  border-radius: 2px;
}
.gras{
  font-weight: bold;
}
#img{
  width: 100%;
  border:solid 2em white;
  margin: 4em 0;
}
.article{
  background: url("../images/fond-article.png");
}
.img2{
  width: 100%;
}
.border-fine{
  border: solid 1px;
}
.listeArt button{
  margin: 20px 0;
}
.listArt ul{
  margin-top: 30px;
}
.sidebar li{
  list-style: none;
  line-height: 15px;
  padding: 15px 0;
}
.sidebar li a {
  text-decoration: none;
  color: grey;
}
.ligne {
  color:#C6C1C1;
  border-bottom: solid 1px;
}
.top{
  padding-top: 10px;
}
.bggreyfonce{
  background: url("../images/bas.png");
}
.bggreyfonce h4{
  margin:20px 0;
}
.citation {
  background:url("../images/citationbulle.png"); background-size: cover;
  padding: 20px;
  font-style: oblique;
}
.citation p{
  line-height: 30px;
}
.bggreytresfonce{
  background: url("../images/footer.png");
  text-align: center;
  padding:20px 0;
}
.liste li{
  list-style: none;
}
.liste h5{
  font-weight: bolder;
}
.liste p{
  font-style: oblique;
}
.grille{
  margin-top: 0.5em;
}
.grille div{
  padding-right: 0px;
}
.grille img{
  width:100%;
}
.collections{
  margin-top: 3em;
  box-shadow: 0 0 5px;
}
.collections a{
}
